* {
  border: none;
  border-radius: 6px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window {
  background-color: transparent;
  color: #c0caf5;
}


.modules-center {
  background-color: rgba(26, 27, 38, 0.85); /* Tokyo Night bg */
  padding: 6px 10px;
  margin: 6px 0 0 0;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

/* Spacer kiri kanan */
#custom-menu {
  padding-left: 12px;
  padding-right: 8px;
  color: #7aa2f7;
}

#custom-powermenu {
  padding-left: 8px;
  padding-right: 12px;
  color: #f7768e;
}

/* Jam di tengah sebagai pemisah */
#clock {
  margin-left: 200px;
  margin-right: 200px;
  color: #7aa2f7;
  font-weight: bold;
}

/* Modul lainnya */
#workspaces,
#network,
#cpu,
#memory,
#pulseaudio,
#battery,
#tray {
  padding: 0 6px;
  color: #c0caf5;
  transition: all 0.2s ease;
  margin-left: 8px;
  margin-right: 8px;
}

/* Hover style */
#workspaces button:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#battery:hover,
#tray:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}

/* Workspace focus */
#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  background: transparent;
  color: #c0caf5;
}

#workspaces button.focused {
  background: #7aa2f7;
  color: #1a1b26;
  border-radius: 6px;
  font-weight: bold;
}
